.my-header {
  padding: 10px 20px;
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;

  &-logo {
    height: 60px;
  }
  &-links-wrapper {
    display: flex;


    &-link {
      margin: 0 10px;
      text-decoration: none;
      color: silver;
      justify-content: space-around;
    }
    &-link:hover {
      color: black;
    }

  }
}