* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial Hebrew" , sans-serif;
  /*background-color: #223343;*/
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  /*color: black;*/
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
section {
  padding: 15px;
}

.search-box {
  display: block;
  padding: 15px;
  width: 100%;

  border: 1px solid slategrey;


  border-radius: 10px;

  color: #53565A;
  font-size: 20px;
  font-weight: 300;

  transition: .5s linear;
}

.search-box:hover {
  border: yellow;
}

.results {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.results .result {
  width: 33.33%;
  display: flex;
  padding: 15px;
  flex-direction: column;
  cursor: pointer;
  min-width: 250px;
}

.results .result img {
  display: block;
  width: 100%;
}
.results .result h4 {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  flex: 1 1 100%;
  transition: .4s ease-out;
}
.results .result h4:hover {
  background-color: #223343;
  color: bisque;
}

.content {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  color: white;
  text-align: center;
}

.content h2,span {
  font-size: 20px;
  font-weight: 500;

}

.content .plot {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px 30px;
}

.content .plot img {
  flex: 1 1 50%;
  max-width: 300px;
  padding: 0px 15px;
  margin: 0 auto;
}

.content .plot p {
  flex: 1 1 50%;
  padding: 15px;
}

.content .close {
  display: inline-block;
  padding: 15px 30px;
  margin: -25px;
  font-weight: 400;
  font-size: 18px;

  cursor: pointer;
  border-radius: 8px;
  border: none;
  appearance: none;
  outline: none;
}

.dark-mode {
  background-color: #223343;
  color: white;
  width: 100%;
  height: 100%;
}



.paperDialog{
  background-color: transparent!important;
  box-shadow: none!important;
}

.containerDialog{
  background: rgba(0, 0, 0, 0.9)!important;
}

.add-favorite-wrapper {
  width: 100%;

}
.add-favorite {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
}

.btn {
  margin: 20px;
  height: 35px;
  width: 100px;
  background-color: #223343;
  color: aliceblue;
  border-radius: 20px;
}
.link {
  text-decoration: none;
}